#btn {
    padding: 10px;
    color: blue;
    background-color: bisque;
    border: 3px seagreen solid;
    cursor:pointer;
    margin-left: 80%;
}

.container{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 60px;
}

.item{
    background-color: aquamarine;
    padding: 5px;
    border: 2px red solid;
    text-align: center;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.mesg{
    padding-top: 25px;
    color: blue;
    text-align: center;
    text-decoration: red underline;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 90px;
}

p{
    width: 20px;
    height: 20px;
    background-color: blanchedalmond;
    border: 2px red solid;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-right: 5px;
}

.item2 { 
    background-color: aquamarine;

}